name: Matrix strategy
on: workflow_dispatch #manual trigger
jobs:
  test:
    strategy:
      matrix:
        java-version: ['21','22']
    environment: qa
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          architecture: x64

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run tests
        run: ./gradlew test
