name: Test Build and Store
on: workflow_dispatch
jobs:
  test-and-build:
    runs-on: ubuntu-latest
    outputs:
      jar-name: $ {{ steps.publish.outputs.jar-name }}
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run tests
        run: ./gradlew test

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish jar name
        id: publish
        run: find build/libs/*.jar ! -name '*plain*' -type f -execdir echo'jar-name={}' >> $GITHUB_OUTPUT ';'

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-jars
          path: build/libs/
  deploy:
    needs: test-and-build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: build-jars

      - name: Output contents
        run: ls -la

      - name: Output filename shared in previous job
        run: echo "${{ needs.test-and-build.outputs.jar-name }}"

      - name: Print greeting
        run: echo "Deploy job"
